@import 'tailwindcss';

html,
body {
  min-height: 100%;
}

body {
  overflow-x: auto;
  background: url('/bg.svg') center / cover no-repeat;
}

@theme {
  --font-body: var(--font-body);
  --font-artist: var(--font-artist);

  --text-logo: 40px;
  --breakpoint-xs: 480px;
}

:root {
  --font-size-title-logo: 40px;
}
